In [8]:
import warnings
warnings.filterwarnings('ignore')

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise2').getOrCreate()

In [18]:
df = spark.read.csv('test3.csv', header=True, inferSchema=True)

In [19]:
df.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Sujeet| 22|         3| 35000|
|  Ajeet| 18|         2| 26000|
|  Akash| 14|         4| 20000|
|  Manoj| 33|         1| 20000|
|Manisha| 37|         8| 15000|
|  Chunu|  5|         7| 18000|
+-------+---+----------+------+

In [20]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [24]:
spark.read.format('csv').option(key='header',value=True).load(path="test4.csv").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Sujeet| 22|         3| 35000|
|  Ajeet| 18|         2| 26000|
|  Akash| 14|         4| 20000|
|  Manoj| 33|         1| 20000|
|Manisha| 37|         8| 15000|
|  Chunu|  5|         7| 18000|
+-------+---+----------+------+

## Reading Multiple csv files at single go

In [35]:
df3 = spark.read.csv(path=['test1.csv','test2.csv'], header=True)

In [36]:
df3.show()

23/02/16 00:35:28 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 2, schema size: 3
CSV file: file:///Users/sujeetmohanty/Documents/Jupyter%20Notebook/PySpark/test1.csv
+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Sujeet| 22|        10|
| Ajeet| 18|         8|
|   Cam| 14|         4|
|Sujeet| 22|      null|
| Ajeet| 18|      null|
|   Cam| 14|      null|
+------+---+----------+

## type casting

In [55]:
from pyspark.sql.types import *

schema = StructType().add(field='Name', data_type = StringType())\
                        .add(field='Departments', data_type = StringType())\
                        .add(field='Salary', data_type = IntegerType())\

df4 = spark.read.csv('test5.csv',schema,header=True)

In [56]:
df4.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [57]:
df4.show()

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IoT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IoT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+