In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise9').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/16 18:07:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/16 18:07:05 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df = spark.read.csv('tips.csv', header=True, inferSchema=True)

In [10]:
df.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [14]:
df2 = spark.read.parquet('userdata1.parquet')

In [20]:
df2.show(truncate=6)

+-----------------+---+----------+---------+------+------+----------+------+-------+---------+------+------+--------+
|registration_dttm| id|first_name|last_name| email|gender|ip_address|    cc|country|birthdate|salary| title|comments|
+-----------------+---+----------+---------+------+------+----------+------+-------+---------+------+------+--------+
|           201...|  1|    Amanda|   Jordan|ajo...|Female|    1.1...|675...| Ind...|   3/8...|497...|Int...|   1E+02|
|           201...|  2|    Albert|   Fre...|afr...|  Male|    218...|      | Canada|   1/1...|150...|Acc...|        |
|           201...|  3|    Evelyn|   Morgan|emo...|Female|    7.1...|676...| Russia|   2/1...|144...|Str...|        |
|           201...|  4|    Denise|    Riley|dri...|Female|    140...|357...|  China|   4/8...|902...|Sen...|        |
|           201...|  5|    Carlos|    Burns|cbu...|      |    169...|560...| Sou...|         |  null|      |        |
|           201...|  6|    Kat...|    White|kwh...|Female|    195...|358...| Ind...|   2/2...|692...|Acc...|        |
|           201...|  7|    Samuel|   Holmes|sho...|  Male|    232...|358...| Por...|   12/...|142...|Sen...|        |
|           201...|  8|     Harry|   Howell|hho...|  Male|    91....|      | Bos...|   3/1...|186...|Web...|        |
|           201...|  9|      Jose|   Foster|jfo...|  Male|    132...|      | Sou...|   3/2...|231...|Sof...|   1E+02|
|           201...| 10|     Emily|   Ste...|est...|Female|    143...|357...| Nig...|   1/2...|272...|Hea...|        |
|           201...| 11|     Susan|   Per...|spe...|Female|    180...|357...| Russia|         |210...|      |        |
|           201...| 12|     Alice|    Berry|abe...|Female|    246...|491...|  China|   8/1...|229...|Qua...|        |
|           201...| 13|    Justin|    Berry|jbe...|  Male|    157...|633...| Zambia|   8/1...|441...|Str...|        |
|           201...| 14|     Kathy|   Rey...|kre...|Female|    81....|553...| Bos...|   6/2...|286...|Lib...|        |
|           201...| 15|    Dor...|   Hudson|dhu...|Female|    8.5...|354...|  Japan|   12/...|157...|Nur...|  <sc...|
|           201...| 16|     Bruce|   Willis|bwi...|  Male|    239...|357...| Brazil|         |239...|      |        |
|           201...| 17|     Emily|   And...|ean...|Female|    29....|302...| Russia|   4/1...|116...|Foo...|        |
|           201...| 18|    Ste...|   Wal...|swa...|  Male|    152...|543...| Ukr...|   1/1...|248...|Acc...|        |
|           201...| 19|    Cla...|   Lawson|cla...|  Male|    107...|354...| Russia|         |177...|      |        |
|           201...| 20|    Reb...|     Bell|rbe...|Female|    172...|      |  China|         |137...|      |        |
+-----------------+---+----------+---------+------+------+----------+------+-------+---------+------+------+--------+
only showing top 20 rows

In [21]:
df2.printSchema()

root
 |-- registration_dttm: timestamp (nullable = true)
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- cc: string (nullable = true)
 |-- country: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- title: string (nullable = true)
 |-- comments: string (nullable = true)

In [35]:
from pyspark.sql.types import *

schema = StructType().add("registration_dttm", StringType())\
            .add("id", IntegerType())\
            .add("first_name", StringType())\
            .add("last_name", StringType())\
            .add("email", StringType())\
            .add("gender", StringType())\
            .add("ip_address", StringType())\
            .add("cc", StringType())\
            .add("country", StringType())\
            .add("birthdate", StringType())\
            .add("salary", DoubleType())\
            .add("title", StringType())\
            .add("comments", StringType())

spark.read.parquet('userdata1.parquet', schema=schema).show()

+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|  registration_dttm| id|first_name|last_name|               email|gender|     ip_address|                 cc|             country| birthdate|   salary|               title|            comments|
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
|2016-02-03 13:25:29|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|    1.197.201.2|   6759521864920116|           Indonesia|  3/8/1971| 49756.53|    Internal Auditor|               1E+02|
|2016-02-03 22:34:03|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male| 218.111.175.34|                   |              Canada| 1/16/1968|150280.17|       Accountant IV|                    |
|2016-02-03 06:39:31|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|   7.161.136.94|   6767119071901597|              Russia|  2/1/1960|144972.51| Structural Engineer|                    |
|2016-02-03 06:06:21|  4|    Denise|    Riley|    driley3@gmpg.org|Female|  140.35.109.83|   3576031598965625|               China|  4/8/1997| 90263.05|Senior Cost Accou...|                    |
|2016-02-03 10:35:31|  5|    Carlos|    Burns|cburns4@miitbeian...|      | 169.113.235.40|   5602256255204850|        South Africa|          |     null|                    |                    |
|2016-02-03 12:52:34|  6|   Kathryn|    White|  kwhite5@google.com|Female| 195.131.81.179|   3583136326049310|           Indonesia| 2/25/1983| 69227.11|   Account Executive|                    |
|2016-02-03 14:03:08|  7|    Samuel|   Holmes|sholmes6@foxnews.com|  Male| 232.234.81.197|   3582641366974690|            Portugal|12/18/1987| 14247.62|Senior Financial ...|                    |
|2016-02-03 12:17:06|  8|     Harry|   Howell| hhowell7@eepurl.com|  Male|   91.235.51.73|                   |Bosnia and Herzeg...|  3/1/1962|186469.43|    Web Developer IV|                    |
|2016-02-03 09:22:53|  9|      Jose|   Foster|   jfoster8@yelp.com|  Male|   132.31.53.61|                   |         South Korea| 3/27/1992|231067.84|Software Test Eng...|               1E+02|
|2016-02-03 23:59:47| 10|     Emily|  Stewart|estewart9@opensou...|Female| 143.28.251.245|   3574254110301671|             Nigeria| 1/28/1997| 27234.28|     Health Coach IV|                    |
|2016-02-03 05:40:42| 11|     Susan|  Perkins| sperkinsa@patch.com|Female|    180.85.0.62|   3573823609854134|              Russia|          |210001.95|                    |                    |
|2016-02-03 23:34:34| 12|     Alice|    Berry|aberryb@wikipedia...|Female| 246.225.12.189|   4917830851454417|               China| 8/12/1968| 22944.53|    Quality Engineer|                    |
|2016-02-04 00:18:17| 13|    Justin|    Berry|jberryc@usatoday.com|  Male|   157.7.146.43|6331109912871813274|              Zambia| 8/15/1975| 44165.46|Structural Analys...|                    |
|2016-02-04 03:16:52| 14|     Kathy| Reynolds|kreynoldsd@redcro...|Female|  81.254.172.13|   5537178462965976|Bosnia and Herzeg...| 6/27/1970|286592.99|           Librarian|                    |
|2016-02-03 14:23:23| 15|   Dorothy|   Hudson|dhudsone@blogger.com|Female|       8.59.7.0|   3542586858224170|               Japan|12/20/1989|157099.71|  Nurse Practicioner|<script>alert('hi...|
|2016-02-03 06:14:01| 16|     Bruce|   Willis|bwillisf@bluehost...|  Male|239.182.219.189|   3573030625927601|              Brazil|          |239100.65|                    |                    |
|2016-02-03 06:27:45| 17|     Emily|  Andrews|eandrewsg@cornell...|Female| 29.231.180.172|     30271790537626|              Russia| 4/13/1990|116800.65|        Food Chemist|                    |
|2016-02-03 22:14:24| 18|   Stephen|  Wallace|swallaceh@netvibe...|  Male|  152.49.213.62|   5433943468526428|             Ukraine| 1/15/1978|248877.99|Account Represent...|                    |
|2016-02-03 17:15:54| 19|  Clarence|   Lawson|clawsoni@vkontakt...|  Male| 107.175.15.152|   3544052814080964|              Russia|          |177122.99|                    |                    |
|2016-02-03 16:00:36| 20|   Rebecca|     Bell| rbellj@bandcamp.com|Female|172.215.104.127|                   |               China|          |137251.19|                    |                    |
+-------------------+---+----------+---------+--------------------+------+---------------+-------------------+--------------------+----------+---------+--------------------+--------------------+
only showing top 20 rows