In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('test1.xlsx')

In [4]:
df

     Name  Age
0  Sujeet   22
1   Ajeet   18
2     Cam   14

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

23/02/14 21:24:23 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/14 21:24:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/14 21:24:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv('test1.csv')

In [9]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
|Sujeet| 22|
| Ajeet| 18|
|   Cam| 14|
+------+---+

In [20]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [21]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|Sujeet| 22|
| Ajeet| 18|
|   Cam| 14|
+------+---+

In [25]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df_pyspark.head(5)

[Row(Name='Sujeet', Age='22'),
 Row(Name='Ajeet', Age='18'),
 Row(Name='Cam', Age='14')]

In [26]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)