In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise10').getOrCreate()

23/02/16 18:35:27 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/16 18:35:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/16 18:35:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/16 18:35:29 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/16 18:35:29 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [7]:
data = [(1,'Maheer','3000'),(2,'Wafa','4000')]
columns=['id','name','salary']

df = spark.createDataFrame(data,columns)

In [8]:
df.show()
df.printSchema()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  3000|
|  2|  Wafa|  4000|
+---+------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

In [13]:
from pyspark.sql.functions import col
df = df.withColumn('salary',col=col('salary').cast('Integer'))
df.show()
df.printSchema()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  3000|
|  2|  Wafa|  4000|
+---+------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [17]:
df2 = df.withColumn('new_salary', col('salary')*2)
df2.show()

+---+------+------+----------+
| id|  name|salary|new_salary|
+---+------+------+----------+
|  1|Maheer|  3000|      6000|
|  2|  Wafa|  4000|      8000|
+---+------+------+----------+