In [18]:
import warnings
warnings.filterwarnings('ignore')

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise12').getOrCreate()

In [20]:
from pyspark.sql.types import *

data = [(1,'sujeet',2300),(2,'ajeet',2344)]
schema = StructType([StructField("id", IntegerType()),\
                   StructField("name", StringType()),\
                   StructField("salary", IntegerType())])
 
df = spark.createDataFrame(data, schema)

In [21]:
df.show()
df.printSchema()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|sujeet|  2300|
|  2| ajeet|  2344|
+---+------+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [25]:
from pyspark.sql.types import *

data = [(1,('sujeet','mohanty'),2300),(2,('ajeet','mohanty'),2344)]

structName = StructType([\
                         StructField('firstname', StringType()),\
                        StructField('lastname', StringType())])


schema = StructType([StructField("id", IntegerType()),\
                   StructField("name", structName),\
                   StructField("salary", IntegerType())])
 
df = spark.createDataFrame(data, schema)

In [27]:
df.show()
df.printSchema()

+---+-----------------+------+
| id|             name|salary|
+---+-----------------+------+
|  1|{sujeet, mohanty}|  2300|
|  2| {ajeet, mohanty}|  2344|
+---+-----------------+------+

root
 |-- id: integer (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- salary: integer (nullable = true)