In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise13').getOrCreate()

In [7]:
data = [('abc', [1,2]),('mno', [4,5]),('xyz', [7,11])]
schema = ['id','number']

df = spark.createDataFrame(data, schema)

In [9]:
df.show()
df.printSchema()

+---+-------+
| id| number|
+---+-------+
|abc| [1, 2]|
|mno| [4, 5]|
|xyz|[7, 11]|
+---+-------+

root
 |-- id: string (nullable = true)
 |-- number: array (nullable = true)
 |    |-- element: long (containsNull = true)

In [14]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, ArrayType


schema = StructType([
    StructField('id', StringType()),\
    StructField('number', ArrayType(IntegerType()))\
])

data = [('abc', [1,2]),('mno', [4,5]),('xyz', [7,11])]
# schema = ['id','number']

df = spark.createDataFrame(data, schema)

In [15]:
df.show()
df.printSchema()

+---+-------+
| id| number|
+---+-------+
|abc| [1, 2]|
|mno| [4, 5]|
|xyz|[7, 11]|
+---+-------+

root
 |-- id: string (nullable = true)
 |-- number: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In [38]:
from pyspark.sql.functions import col, array

In [39]:
df = df.withColumn('firstnumber', col('number')[0])
df = df.withColumn('secondnumber', col('number')[1])

In [40]:
df.show()

+---+-------+-----------+------------+
| id| number|firstnumber|secondnumber|
+---+-------+-----------+------------+
|abc| [1, 2]|          1|           2|
|mno| [4, 5]|          4|           5|
|xyz|[7, 11]|          7|          11|
+---+-------+-----------+------------+

In [41]:
data = [(1,2),(2,3)]
schema = ['num1', 'num2']

df2 = spark.createDataFrame(data, schema)

In [42]:
df2.show()

+----+----+
|num1|num2|
+----+----+
|   1|   2|
|   2|   3|
+----+----+

In [43]:
df2.printSchema()

root
 |-- num1: long (nullable = true)
 |-- num2: long (nullable = true)

In [44]:
df2 = df2.withColumn('numbers', array(df2.num1, df2.num2))

In [46]:
df2.show()
df2.printSchema()

+----+----+-------+
|num1|num2|numbers|
+----+----+-------+
|   1|   2| [1, 2]|
|   2|   3| [2, 3]|
+----+----+-------+

root
 |-- num1: long (nullable = true)
 |-- num2: long (nullable = true)
 |-- numbers: array (nullable = false)
 |    |-- element: long (containsNull = true)