In [10]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise17').getOrCreate()

23/02/17 00:47:27 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/17 00:47:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 00:47:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/17 00:47:30 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/17 00:47:30 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/17 00:47:30 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [11]:
from pyspark.sql import Row

row1 = Row(name='sujeet', salary=2123900)
row2 = Row(name='ajeet', salary=22390)

data = [row1,row2]

df = spark.createDataFrame(data)

In [12]:
df.show()

+------+-------+
|  name| salary|
+------+-------+
|sujeet|2123900|
| ajeet|  22390|
+------+-------+

In [16]:
Person = Row('name','age')
person1 = Person('sujeet', 22)
person2 = Person('ajeet', 17)
person_Df = spark.createDataFrame([person1, person2])

person_Df.show()

+------+---+
|  name|age|
+------+---+
|sujeet| 22|
| ajeet| 17|
+------+---+

In [18]:
data = [Row(name='sujeet', prop=Row(age=30, gender='male')), \
        Row(name='ajeet', prop=Row(age=22, gender='male'))]

df2 = spark.createDataFrame(data)
df2.show()
df2.printSchema()

+------+----------+
|  name|      prop|
+------+----------+
|sujeet|{30, male}|
| ajeet|{22, male}|
+------+----------+

root
 |-- name: string (nullable = true)
 |-- prop: struct (nullable = true)
 |    |-- age: long (nullable = true)
 |    |-- gender: string (nullable = true)