In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise18').getOrCreate()

23/02/17 01:38:20 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/17 01:38:20 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 01:38:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/17 01:38:23 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/17 01:38:23 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/17 01:38:23 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/17 01:38:23 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [2]:
from pyspark.sql.functions import lit
col1 = lit('abcd')
print(type(col1))

<class 'pyspark.sql.column.Column'>

In [5]:
data = [('sujeet','male',2000),('ajeet','male',2004)]
schema = ['name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)
df.show()

+------+------+------+
|  name|gender|salary|
+------+------+------+
|sujeet|  male|  2000|
| ajeet|  male|  2004|
+------+------+------+

In [6]:
df1 = df.withColumn('new_col', lit('newColumnValue'))
df1.show()
df1.printSchema()

+------+------+------+--------------+
|  name|gender|salary|       new_col|
+------+------+------+--------------+
|sujeet|  male|  2000|newColumnValue|
| ajeet|  male|  2004|newColumnValue|
+------+------+------+--------------+

root
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- new_col: string (nullable = false)

In [8]:
df1.select('name').show()

+------+
|  name|
+------+
|sujeet|
| ajeet|
+------+

In [9]:
df1.select(['name','salary']).show()

+------+------+
|  name|salary|
+------+------+
|sujeet|  2000|
| ajeet|  2004|
+------+------+

In [10]:
from pyspark.sql.functions import col

df1.select(col('name')).show()

+------+
|  name|
+------+
|sujeet|
| ajeet|
+------+

In [16]:
data2 =  [('sujeet','male',2000,('black','blue')),('ajeet','male',2004, ('blue','green'))]
data2

[('sujeet', 'male', 2000, ('black', 'blue')),
 ('ajeet', 'male', 2004, ('blue', 'green'))]

In [29]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

propType = StructType([\
                        StructField('hair', StringType()),\
                        StructField('eyes', StringType())
                       ])

schema = StructType([\
                     StructField('name',StringType()),\
                     StructField('gender', StringType()),\
                     StructField('salary', IntegerType()),\
                     StructField('props', propType)])

data2 =  [('sujeet','male',2000,('black','blue')),('ajeet','male',2004, ('blue','green'))]

df = spark.createDataFrame(data2, schema)
df.show()
df.printSchema()

+------+------+------+-------------+
|  name|gender|salary|        props|
+------+------+------+-------------+
|sujeet|  male|  2000|{black, blue}|
| ajeet|  male|  2004|{blue, green}|
+------+------+------+-------------+

root
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- props: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eyes: string (nullable = true)

In [32]:
df.select(df.props.eyes).show()

+----------+
|props.eyes|
+----------+
|      blue|
|     green|
+----------+

In [33]:
df.select(col('props.eyes')).show()

+-----+
| eyes|
+-----+
| blue|
|green|
+-----+