In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise19').getOrCreate()

23/02/17 10:49:04 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/17 10:49:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 10:49:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data = [(1,'sujeet','male',82555),(2,'ajeet','male',7555),(3,'akash','',555),(4,'pdp','female',9955)]
schema=['id','name','gender','salary']

df = spark.createDataFrame(data, schema)
df.show()
df.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|sujeet|  male| 82555|
|  2| ajeet|  male|  7555|
|  3| akash|      |   555|
|  4|   pdp|female|  9955|
+---+------+------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [15]:
from pyspark.sql.functions import when

df1 = df.select(df.id,df.name, \
          when(df['gender'] == 'male','M')\
          .when(df['gender'] == 'female','F')\
          .otherwise('unknown').alias('gender'))
df1.show()
df1.printSchema()

+---+------+-------+
| id|  name| gender|
+---+------+-------+
|  1|sujeet|      M|
|  2| ajeet|      M|
|  3| akash|unknown|
|  4|   pdp|      F|
+---+------+-------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = false)

# Like()

In [17]:
df.filter(df.name.like('a%')).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  2|ajeet|  male|  7555|
|  3|akash|      |   555|
+---+-----+------+------+