In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise20').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 11:15:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/17 11:15:11 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

# alias ()

In [4]:
data = [(1,'sujeet',82555),(2,'ajeet',7555),(3,'akash',555)]
schema=['id','name','salary']

df = spark.createDataFrame(data, schema)
df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|sujeet| 82555|
|  2| ajeet|  7555|
|  3| akash|   555|
+---+------+------+

In [6]:
df.withColumnRenamed('salary', 'Salary').show()

+---+------+------+
| id|  name|Salary|
+---+------+------+
|  1|sujeet| 82555|
|  2| ajeet|  7555|
|  3| akash|   555|
+---+------+------+

In [10]:
df.select(df.id.alias('emp_id'),df.name.alias('emp_name'),df.salary.alias('emp_salary')).show()

+------+--------+----------+
|emp_id|emp_name|emp_salary|
+------+--------+----------+
|     1|  sujeet|     82555|
|     2|   ajeet|      7555|
|     3|   akash|       555|
+------+--------+----------+

# asc()

In [15]:
df.sort(df.name.asc()).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  2| ajeet|  7555|
|  3| akash|   555|
|  1|sujeet| 82555|
+---+------+------+

# desc()

In [14]:
df.sort(df.name.desc()).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|sujeet| 82555|
|  3| akash|   555|
|  2| ajeet|  7555|
+---+------+------+

# cast()

In [17]:
df.select(df.salary).printSchema()

root
 |-- salary: long (nullable = true)

In [18]:
df.select(df.salary.cast('int'))

DataFrame[salary: int]

In [19]:
df.select(df.salary.cast('int')).printSchema()

root
 |-- salary: integer (nullable = true)