In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise20').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 16:15:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [21]:
data = [(1,'sujeet','male',37000),(2,'ajeet','male',2729),(3,'akash','female',7000)]
schema = ['id','name','gender','salary']

df = spark.createDataFrame(data, schema)
df.show()
df.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|sujeet|  male| 37000|
|  2| ajeet|  male|  2729|
|  3| akash|female|  7000|
+---+------+------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [22]:
df.filter(df.gender == 'male').show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|sujeet|  male| 37000|
|  2| ajeet|  male|  2729|
+---+------+------+------+

In [23]:
df.filter("gender = 'male'").show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|sujeet|  male| 37000|
|  2| ajeet|  male|  2729|
+---+------+------+------+

In [24]:
df.filter((df.gender == 'male') & (df.salary > 3000)).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|sujeet|  male| 37000|
+---+------+------+------+

In [25]:
df = spark.read.csv('tips.csv', header=True, inferSchema=True)
df.show(truncate=False)
df.printSchema()

+----------+----+------+------+---+------+----+
|total_bill|tip |sex   |smoker|day|time  |size|
+----------+----+------+------+---+------+----+
|16.99     |1.01|Female|No    |Sun|Dinner|2   |
|10.34     |1.66|Male  |No    |Sun|Dinner|3   |
|21.01     |3.5 |Male  |No    |Sun|Dinner|3   |
|23.68     |3.31|Male  |No    |Sun|Dinner|2   |
|24.59     |3.61|Female|No    |Sun|Dinner|4   |
|25.29     |4.71|Male  |No    |Sun|Dinner|4   |
|8.77      |2.0 |Male  |No    |Sun|Dinner|2   |
|26.88     |3.12|Male  |No    |Sun|Dinner|4   |
|15.04     |1.96|Male  |No    |Sun|Dinner|2   |
|14.78     |3.23|Male  |No    |Sun|Dinner|2   |
|10.27     |1.71|Male  |No    |Sun|Dinner|2   |
|35.26     |5.0 |Female|No    |Sun|Dinner|4   |
|15.42     |1.57|Male  |No    |Sun|Dinner|2   |
|18.43     |3.0 |Male  |No    |Sun|Dinner|4   |
|14.83     |3.02|Female|No    |Sun|Dinner|2   |
|21.58     |3.92|Male  |No    |Sun|Dinner|2   |
|10.33     |1.67|Female|No    |Sun|Dinner|3   |
|16.29     |3.71|Male  |No    |Sun|Dinner|3   |
|16.97     |3.5 |Female|No    |Sun|Dinner|3   |
|20.65     |3.35|Male  |No    |Sat|Dinner|3   |
+----------+----+------+------+---+------+----+
only showing top 20 rows

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [26]:
df.filter(df.sex =='Male').show(5)

+----------+----+----+------+---+------+----+
|total_bill| tip| sex|smoker|day|  time|size|
+----------+----+----+------+---+------+----+
|     10.34|1.66|Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|Male|    No|Sun|Dinner|   3|
|     23.68|3.31|Male|    No|Sun|Dinner|   2|
|     25.29|4.71|Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|Male|    No|Sun|Dinner|   2|
+----------+----+----+------+---+------+----+
only showing top 5 rows

In [38]:
df.filter((df.tip >= 1) & (df.sex == 'Male') & \
          (df.size > 3) & (df.smoker == 'No')& \
          (df.tip<=3)
         ).show()

+----------+----+----+------+---+------+----+
|total_bill| tip| sex|smoker|day|  time|size|
+----------+----+----+------+---+------+----+
|     18.43| 3.0|Male|    No|Sun|Dinner|   4|
|     17.81|2.34|Male|    No|Sat|Dinner|   4|
|     18.35| 2.5|Male|    No|Sat|Dinner|   4|
|     24.55| 2.0|Male|    No|Sun|Dinner|   4|
|     19.77| 2.0|Male|    No|Sun|Dinner|   4|
|     16.49| 2.0|Male|    No|Sun|Dinner|   4|
|     20.45| 3.0|Male|    No|Sat|Dinner|   4|
+----------+----+----+------+---+------+----+