In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise22').getOrCreate()

23/02/17 16:32:44 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/17 16:32:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 16:32:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/17 16:32:46 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [26]:
data = [(1,'sujeet','male',37000),(2,'ajeet','male',2729),(2,'ajeet','male',2729),(3,'akash','female',7000)]
schema = ['id','name','gender','salary']

df = spark.createDataFrame(data, schema)
df.show()
df.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|sujeet|  male| 37000|
|  2| ajeet|  male|  2729|
|  2| ajeet|  male|  2729|
|  3| akash|female|  7000|
+---+------+------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [30]:
df.distinct().show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|sujeet|  male| 37000|
|  2| ajeet|  male|  2729|
|  3| akash|female|  7000|
+---+------+------+------+

In [23]:
df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|sujeet|  male| 37000|
|  2| ajeet|  male|  2729|
|  2| ajeet|  male|  2729|
|  3| akash|female|  7000|
+---+------+------+------+

In [34]:
df.dropDuplicates(['gender']).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  3| akash|female|  7000|
|  1|sujeet|  male| 37000|
+---+------+------+------+