In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise23').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 16:44:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/17 16:44:47 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/17 16:44:47 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [8]:
data = [(1,'sujeet','male',37000,'IT'),(2,'ajeet','male',2729,'Pay Roll'),(4,'chunu','male',27229,'HR'),(3,'akash','female',7000,'SDE')]
schema = ['id','name','gender','salary','dept']

df = spark.createDataFrame(data, schema)
df.show()
df.printSchema()

+---+------+------+------+--------+
| id|  name|gender|salary|    dept|
+---+------+------+------+--------+
|  1|sujeet|  male| 37000|      IT|
|  2| ajeet|  male|  2729|Pay Roll|
|  4| chunu|  male| 27229|      HR|
|  3| akash|female|  7000|     SDE|
+---+------+------+------+--------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- dept: string (nullable = true)

# Sort()

In [9]:
df.sort(df.salary).show()

+---+------+------+------+--------+
| id|  name|gender|salary|    dept|
+---+------+------+------+--------+
|  2| ajeet|  male|  2729|Pay Roll|
|  3| akash|female|  7000|     SDE|
|  4| chunu|  male| 27229|      HR|
|  1|sujeet|  male| 37000|      IT|
+---+------+------+------+--------+

In [10]:
df.sort('dept').show()

+---+------+------+------+--------+
| id|  name|gender|salary|    dept|
+---+------+------+------+--------+
|  4| chunu|  male| 27229|      HR|
|  1|sujeet|  male| 37000|      IT|
|  2| ajeet|  male|  2729|Pay Roll|
|  3| akash|female|  7000|     SDE|
+---+------+------+------+--------+

# OrderBy and Sort are Same

# OrderBy()

In [22]:
df.orderBy(df.dept.desc()).show()

+---+------+------+------+--------+
| id|  name|gender|salary|    dept|
+---+------+------+------+--------+
|  3| akash|female|  7000|     SDE|
|  2| ajeet|  male|  2729|Pay Roll|
|  1|sujeet|  male| 37000|      IT|
|  4| chunu|  male| 27229|      HR|
+---+------+------+------+--------+

In [19]:
df.orderBy(['gender','salary']).show()

+---+------+------+------+--------+
| id|  name|gender|salary|    dept|
+---+------+------+------+--------+
|  3| akash|female|  7000|     SDE|
|  2| ajeet|  male|  2729|Pay Roll|
|  4| chunu|  male| 27229|      HR|
|  1|sujeet|  male| 37000|      IT|
+---+------+------+------+--------+