In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise24').getOrCreate()

23/02/17 17:17:05 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/17 17:17:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 17:17:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/17 17:17:10 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/17 17:17:10 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/17 17:17:10 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [4]:
data1 = [(1,'sujeet','male'),(2,'ajeet','male'),(3,'akash','female')]
schema1 = ['id','name','gender']

data2 = [(1,'sujata','female'),(4,'anita','female'),(8,'amit','male')]
schema2 = ['id','name','gender']

In [8]:
df1 = spark.createDataFrame(data1, schema)
df1.show()

+---+------+------+
| id|  name|gender|
+---+------+------+
|  1|sujeet|  male|
|  2| ajeet|  male|
|  3| akash|female|
+---+------+------+

In [9]:
df2 = spark.createDataFrame(data2, schema)
df2.show()

+---+------+------+
| id|  name|gender|
+---+------+------+
|  1|sujata|female|
|  4| anita|female|
|  8|  amit|  male|
+---+------+------+

In [10]:
new_df = df1.union(df2)

In [14]:
new_df.sort('id').show()

+---+------+------+
| id|  name|gender|
+---+------+------+
|  1|sujata|female|
|  1|sujeet|  male|
|  2| ajeet|  male|
|  3| akash|female|
|  4| anita|female|
|  8|  amit|  male|
+---+------+------+

In [26]:
new_df2 = df1.unionAll(df2)
new_df2.show()

+---+------+------+
| id|  name|gender|
+---+------+------+
|  1|sujeet|  male|
|  2| ajeet|  male|
|  3| akash|female|
|  1|sujata|female|
|  4| anita|female|
|  8|  amit|  male|
+---+------+------+