In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise25').getOrCreate()

23/02/17 17:43:32 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/17 17:43:32 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 17:43:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/17 17:43:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/17 17:43:34 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/17 17:43:34 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/17 17:43:34 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [9]:
data = [(1, 'maheer', 'M', 5000, 'IT'),\
        (2, 'wafa', 'M' ,6000, 'IT'),\
        (3, 'asi','F',2500, 'Payroll'),\
        (4, 'sarfaraj', 'M',4000, 'HR'),\
        (5, 'pyarijaan','F' ,2000, 'HR'),\
        (6, 'Mahaboob','M',2000, 'Payroll'),\
        (7, 'ayesha','F',3000, 'IT')]

schema=['id','name', 'gender', 'salary','dep']
df = spark.createDataFrame (data, schema)

In [10]:
df.show()

+---+---------+------+------+-------+
| id|     name|gender|salary|    dep|
+---+---------+------+------+-------+
|  1|   maheer|     M|  5000|     IT|
|  2|     wafa|     M|  6000|     IT|
|  3|      asi|     F|  2500|Payroll|
|  4| sarfaraj|     M|  4000|     HR|
|  5|pyarijaan|     F|  2000|     HR|
|  6| Mahaboob|     M|  2000|Payroll|
|  7|   ayesha|     F|  3000|     IT|
+---+---------+------+------+-------+

In [21]:
df.groupBy('gender').sum().show()

+------+-------+-----------+
|gender|sum(id)|sum(salary)|
+------+-------+-----------+
|     M|     13|      17000|
|     F|     15|       7500|
+------+-------+-----------+

In [20]:
df.groupBy('dep').count().show()

+-------+-----+
|    dep|count|
+-------+-----+
|     IT|    3|
|Payroll|    2|
|     HR|    2|
+-------+-----+

In [22]:
df.groupBy(['dep','gender']).count().show()

+-------+------+-----+
|    dep|gender|count|
+-------+------+-----+
|     IT|     M|    2|
|Payroll|     F|    1|
|     HR|     M|    1|
|     HR|     F|    1|
|Payroll|     M|    1|
|     IT|     F|    1|
+-------+------+-----+