In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise26').getOrCreate()

23/02/17 17:56:41 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/17 17:56:41 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 17:56:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/17 17:56:44 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/17 17:56:44 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/17 17:56:44 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/17 17:56:44 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/02/17 17:56:44 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [2]:
data = [(1, 'maheer', 'M', 5000, 'IT'),\
        (2, 'wafa', 'M' ,6000, 'IT'),\
        (3, 'asi','F',2500, 'Payroll'),\
        (4, 'sarfaraj', 'M',4000, 'HR'),\
        (5, 'pyarijaan','F' ,2000, 'HR'),\
        (6, 'Mahaboob','M',2000, 'Payroll'),\
        (7, 'ayesha','F',3000, 'IT')]

schema=['id','name', 'gender', 'salary','dep']
df = spark.createDataFrame (data, schema)

In [5]:
df.groupBy('dep').count().show()

+-------+-----+
|    dep|count|
+-------+-----+
|     IT|    3|
|Payroll|    2|
|     HR|    2|
+-------+-----+

In [10]:
from pyspark.sql.functions import max, min, count

df.groupBy('dep').agg(count('*').alias('countOfEmps'),\
                     min('salary').alias('minSal'),\
                    max('salary').alias('maxSal')).show()

+-------+-----------+------+------+
|    dep|countOfEmps|minSal|maxSal|
+-------+-----------+------+------+
|     IT|          3|  3000|  6000|
|Payroll|          2|  2000|  2500|
|     HR|          2|  2000|  4000|
+-------+-----------+------+------+