In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise27').getOrCreate()

23/02/17 18:03:38 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/17 18:03:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 18:03:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/17 18:03:41 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/17 18:03:41 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/17 18:03:41 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/17 18:03:41 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/02/17 18:03:41 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
23/02/17 18:03:41 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.

## unionByName() help to merge 2 different dataframes having Different Schema

In [3]:
data1 = [(1,'sujeet','male'),(2,'ajeet','male'),(3,'akash','female')]
schema1 = ['id','name','gender']

data2 = [(1,'sujata','HR'),(4,'anita','Acountant'),(8,'amit','SDE')]
schema2 = ['id','name','job']

df1 = spark.createDataFrame(data1, schema1)
df2 = spark.createDataFrame(data2, schema2)

In [5]:
df1.show()
df2.show()

+---+------+------+
| id|  name|gender|
+---+------+------+
|  1|sujeet|  male|
|  2| ajeet|  male|
|  3| akash|female|
+---+------+------+

+---+------+---------+
| id|  name|      job|
+---+------+---------+
|  1|sujata|       HR|
|  4| anita|Acountant|
|  8|  amit|      SDE|
+---+------+---------+

In [6]:
df1.union(df2).show()

+---+------+---------+
| id|  name|   gender|
+---+------+---------+
|  1|sujeet|     male|
|  2| ajeet|     male|
|  3| akash|   female|
|  1|sujata|       HR|
|  4| anita|Acountant|
|  8|  amit|      SDE|
+---+------+---------+

In [9]:
df1.unionByName(df2, allowMissingColumns=True).show()

+---+------+------+---------+
| id|  name|gender|      job|
+---+------+------+---------+
|  1|sujeet|  male|     null|
|  2| ajeet|  male|     null|
|  3| akash|female|     null|
|  1|sujata|  null|       HR|
|  4| anita|  null|Acountant|
|  8|  amit|  null|      SDE|
+---+------+------+---------+