In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise24').getOrCreate()

23/02/17 18:17:33 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/17 18:17:33 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 18:17:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/17 18:17:35 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/17 18:17:35 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/17 18:17:35 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/17 18:17:35 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/02/17 18:17:35 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
23/02/17 18:17:35 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
23/02/17 18:17:35 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.

In [2]:
data = [(1,'sujeet','male', 2000)]
schema = ['id','name','gender', 'salary']

df = spark.createDataFrame(data, schema)

In [3]:
df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|sujeet|  male|  2000|
+---+------+------+------+

In [5]:
df.select(['name','salary']).show()

+------+------+
|  name|salary|
+------+------+
|sujeet|  2000|
+------+------+

In [8]:
df.select('salary').show()

+------+
|salary|
+------+
|  2000|
+------+

In [9]:
df.select(df.id,df.name).show()

+---+------+
| id|  name|
+---+------+
|  1|sujeet|
+---+------+

In [10]:
from pyspark.sql.functions import col
df.select(col('name'), col('id')).show()

+------+---+
|  name| id|
+------+---+
|sujeet|  1|
+------+---+

In [11]:
df.select('*').show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|sujeet|  male|  2000|
+---+------+------+------+

In [12]:
df.select([col for col in df.columns]).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|sujeet|  male|  2000|
+---+------+------+------+