In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise29').getOrCreate()

23/02/17 19:45:48 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/17 19:45:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 19:45:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/17 19:45:50 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/17 19:45:50 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/17 19:45:50 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/17 19:45:50 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/02/17 19:45:50 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
23/02/17 19:45:50 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
23/02/17 19:45:50 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.
23/02/17 19:45:50 WARN Utils: Service 'SparkUI' could not bind on port 4047. Attempting port 4048.

In [4]:
data1 = [ (1, 'maheer', 2000, 2) , (2, 'wafa', 3000, 1) , (3, 'abcd', 1000, 4)]
schema1 = ['id', 'name', 'salary', 'dep']
data2 = [(1, 'IT'), (2, 'HR'), (3, 'Payroll')]
schema2 = ['id', 'name']

In [5]:
empDf = spark.createDataFrame (data1, schema1)
depDf = spark.createDataFrame (data2,schema2)
empDf.show ()
depDf.show ()

+---+------+------+---+
| id|  name|salary|dep|
+---+------+------+---+
|  1|maheer|  2000|  2|
|  2|  wafa|  3000|  1|
|  3|  abcd|  1000|  4|
+---+------+------+---+

+---+-------+
| id|   name|
+---+-------+
|  1|     IT|
|  2|     HR|
|  3|Payroll|
+---+-------+

In [7]:
empDf.join (depDf, empDf.dep==depDf.id, 'inner').show () 
empDf.join (depDf, empDf.dep==depDf.id, 'left').show () 
empDf.join (depDf, empDf.dep==depDf.id, 'right').show () 
empDf.join (depDf, empDf.dep==depDf.id, 'full').show ()

+---+------+------+---+---+----+
| id|  name|salary|dep| id|name|
+---+------+------+---+---+----+
|  2|  wafa|  3000|  1|  1|  IT|
|  1|maheer|  2000|  2|  2|  HR|
+---+------+------+---+---+----+

+---+------+------+---+----+----+
| id|  name|salary|dep|  id|name|
+---+------+------+---+----+----+
|  1|maheer|  2000|  2|   2|  HR|
|  2|  wafa|  3000|  1|   1|  IT|
|  3|  abcd|  1000|  4|null|null|
+---+------+------+---+----+----+

+----+------+------+----+---+-------+
|  id|  name|salary| dep| id|   name|
+----+------+------+----+---+-------+
|   2|  wafa|  3000|   1|  1|     IT|
|   1|maheer|  2000|   2|  2|     HR|
|null|  null|  null|null|  3|Payroll|
+----+------+------+----+---+-------+

+----+------+------+----+----+-------+
|  id|  name|salary| dep|  id|   name|
+----+------+------+----+----+-------+
|   2|  wafa|  3000|   1|   1|     IT|
|   1|maheer|  2000|   2|   2|     HR|
|null|  null|  null|null|   3|Payroll|
|   3|  abcd|  1000|   4|null|   null|
+----+------+------+----+----+-------+