* leftsemi join similar to inner join but get columns only from left dataframe for matching rows.
* leftanti opposite to leftsemi, it gets not matching rows from left dataframe.
* Self join, joins data with same dataframe

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pracstise30').getOrCreate()

23/02/17 21:24:54 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/17 21:24:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/17 21:24:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
data1 = [ (1, 'maheer', 2000, 2) , (2, 'wafa', 3000, 1) , (3, 'abcd', 1000, 4)]
schema1 = ['id', 'name', 'salary', 'dep']
data2 = [(1, 'IT'), (2, 'HR'), (3, 'Payroll')]
schema2 = ['id', 'name']

In [3]:
empDf = spark.createDataFrame (data1, schema1)
depDf = spark.createDataFrame (data2,schema2)
empDf.show ()
depDf.show ()

+---+------+------+---+
| id|  name|salary|dep|
+---+------+------+---+
|  1|maheer|  2000|  2|
|  2|  wafa|  3000|  1|
|  3|  abcd|  1000|  4|
+---+------+------+---+

+---+-------+
| id|   name|
+---+-------+
|  1|     IT|
|  2|     HR|
|  3|Payroll|
+---+-------+

In [4]:
empDf.join(depDf, empDf.dep==depDf.id, 'inner').show()

+---+------+------+---+---+----+
| id|  name|salary|dep| id|name|
+---+------+------+---+---+----+
|  2|  wafa|  3000|  1|  1|  IT|
|  1|maheer|  2000|  2|  2|  HR|
+---+------+------+---+---+----+

In [5]:
empDf.join(depDf, empDf.dep==depDf.id, 'leftsemi').show()

+---+------+------+---+
| id|  name|salary|dep|
+---+------+------+---+
|  2|  wafa|  3000|  1|
|  1|maheer|  2000|  2|
+---+------+------+---+

In [6]:
empDf.join(depDf, empDf.dep==depDf.id, 'leftanti').show()

+---+----+------+---+
| id|name|salary|dep|
+---+----+------+---+
|  3|abcd|  1000|  4|
+---+----+------+---+