In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pracstise31').getOrCreate()

23/02/18 18:07:47 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/18 18:07:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/02/18 18:07:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
data = [(1, 'maheer', 'male', 5000, 'IT'),\
        (2, 'wafa', 'male' ,6000, 'IT'),\
        (3, 'asi','female',2500, 'Payroll'),\
        (4, 'sarfaraj', 'male',4000, 'HR'),\
        (5, 'pyarijaan','female' ,2000, 'HR'),\
        (6, 'mahaboob','male',2000, 'Payroll'),\
        (7, 'ayesha','female',3000, 'IT')]

schema=['id','name', 'gender', 'salary','dep']
df = spark.createDataFrame (data, schema)

In [3]:
df.show()

+---+---------+------+------+-------+
| id|     name|gender|salary|    dep|
+---+---------+------+------+-------+
|  1|   maheer|  male|  5000|     IT|
|  2|     wafa|  male|  6000|     IT|
|  3|      asi|female|  2500|Payroll|
|  4| sarfaraj|  male|  4000|     HR|
|  5|pyarijaan|female|  2000|     HR|
|  6| mahaboob|  male|  2000|Payroll|
|  7|   ayesha|female|  3000|     IT|
+---+---------+------+------+-------+

In [7]:
df.groupBy('dep','gender').count().show()

+-------+------+-----+
|    dep|gender|count|
+-------+------+-----+
|     IT|  male|    2|
|Payroll|female|    1|
|     HR|  male|    1|
|     HR|female|    1|
|Payroll|  male|    1|
|     IT|female|    1|
+-------+------+-----+

In [11]:
df.groupBy('dep').pivot('gender').count().show()

+-------+------+----+
|    dep|female|male|
+-------+------+----+
|     HR|     1|   1|
|Payroll|     1|   1|
|     IT|     1|   2|
+-------+------+----+