In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pracstise32').getOrCreate()

23/02/18 18:15:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/18 18:15:05 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
data = [('IT', 8, 5), ('Payroll', 3, 2), ('HR', 2,4) ]
schema = ['dep','male','female']

In [6]:
df = spark.createDataFrame (data, schema)

In [7]:
df.show()

+-------+----+------+
|    dep|male|female|
+-------+----+------+
|     IT|   8|     5|
|Payroll|   3|     2|
|     HR|   2|     4|
+-------+----+------+

In [10]:
from pyspark.sql.functions import expr
unPivotDF = df.select('dep', expr("stack(2,'male',male,'female', female) as (gender, count)"))
unPivotDF.show()

+-------+------+-----+
|    dep|gender|count|
+-------+------+-----+
|     IT|  male|    8|
|     IT|female|    5|
|Payroll|  male|    3|
|Payroll|female|    2|
|     HR|  male|    2|
|     HR|female|    4|
+-------+------+-----+