In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise33').getOrCreate()

23/02/18 18:22:49 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/18 18:22:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/02/18 18:22:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/18 18:22:53 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/18 18:22:53 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [17]:
data = [(2, 'wafa', 'male' ,6000, None),\
        (4, 'sarfaraj', None ,4000, 'HR'),\
        (6, 'mahaboob','male',2000, 'Payroll'),\
        (7, 'ayesha','female',3000, 'IT')]

schema=['id','name', 'gender', 'salary','dep']
df = spark.createDataFrame (data, schema)

In [18]:
df.show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  2|    wafa|  male|  6000|   null|
|  4|sarfaraj|  null|  4000|     HR|
|  6|mahaboob|  male|  2000|Payroll|
|  7|  ayesha|female|  3000|     IT|
+---+--------+------+------+-------+

In [19]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- dep: string (nullable = true)

In [23]:
df.fillna('unknown').show()

+---+--------+-------+------+-------+
| id|    name| gender|salary|    dep|
+---+--------+-------+------+-------+
|  2|    wafa|   male|  6000|unknown|
|  4|sarfaraj|unknown|  4000|     HR|
|  6|mahaboob|   male|  2000|Payroll|
|  7|  ayesha| female|  3000|     IT|
+---+--------+-------+------+-------+

In [21]:
df.fillna('unknown',['gender']).show()

+---+--------+-------+------+-------+
| id|    name| gender|salary|    dep|
+---+--------+-------+------+-------+
|  2|    wafa|   male|  6000|   null|
|  4|sarfaraj|unknown|  4000|     HR|
|  6|mahaboob|   male|  2000|Payroll|
|  7|  ayesha| female|  3000|     IT|
+---+--------+-------+------+-------+

In [24]:
df.na.fill('unknown',['gender']).show()

+---+--------+-------+------+-------+
| id|    name| gender|salary|    dep|
+---+--------+-------+------+-------+
|  2|    wafa|   male|  6000|   null|
|  4|sarfaraj|unknown|  4000|     HR|
|  6|mahaboob|   male|  2000|Payroll|
|  7|  ayesha| female|  3000|     IT|
+---+--------+-------+------+-------+

In [25]:
# fillna and fill are same