## this is used to transform a column with array type

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise37').getOrCreate()

23/02/18 19:08:29 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/18 19:08:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/02/18 19:08:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/18 19:08:31 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/18 19:08:31 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/18 19:08:31 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/18 19:08:31 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/02/18 19:08:31 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
23/02/18 19:08:31 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.

In [6]:
data = [(1, 'wafa', ['Java', 'JDBC']),\
        (2, 'sarfaraj', ['Python','FastAPI']),\
        (3, 'ayesha', ['Crypto','Solidity'])]

schema=['id','name','skill']
df = spark.createDataFrame (data, schema)

In [8]:
df.show()
df.printSchema()

+---+--------+------------------+
| id|    name|             skill|
+---+--------+------------------+
|  1|    wafa|      [Java, JDBC]|
|  2|sarfaraj| [Python, FastAPI]|
|  3|  ayesha|[Crypto, Solidity]|
+---+--------+------------------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- skill: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [11]:
from pyspark.sql.functions import transform, upper

df.select('id','name', transform('skill', lambda x: upper(x)).alias('skills')).show()

+---+--------+------------------+
| id|    name|            skills|
+---+--------+------------------+
|  1|    wafa|      [JAVA, JDBC]|
|  2|sarfaraj| [PYTHON, FASTAPI]|
|  3|  ayesha|[CRYPTO, SOLIDITY]|
+---+--------+------------------+

In [18]:
def toUpper(x):
    return upper(x)

df.select('id', 'name', transform('skill', toUpper)).show()

+---+--------+-------------------------------------------------------------------------------------+
| id|    name|transform(skill, lambdafunction(upper(namedlambdavariable()), namedlambdavariable()))|
+---+--------+-------------------------------------------------------------------------------------+
|  1|    wafa|                                                                         [JAVA, JDBC]|
|  2|sarfaraj|                                                                    [PYTHON, FASTAPI]|
|  3|  ayesha|                                                                   [CRYPTO, SOLIDITY]|
+---+--------+-------------------------------------------------------------------------------------+