# Notebook Content
* Filter Operations
* &,|,==
* ~

In [15]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise4').getOrCreate()

23/02/15 01:49:01 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [16]:
df_spark = spark.read.csv('test4.csv', header=True, inferSchema=True)

In [17]:
df_spark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Sujeet| 22|         3| 35000|
|  Ajeet| 18|         2| 26000|
|  Akash| 14|         4| 20000|
|  Manoj| 33|         1| 20000|
|Manisha| 37|         8| 15000|
|  Chunu|  5|         7| 18000|
+-------+---+----------+------+

In [18]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

## Filter Operations

In [20]:
# Salary of People less than or equal to 20000

In [23]:
df_spark.filter(df_spark['Salary']<=20000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Akash| 14|         4| 20000|
|  Manoj| 33|         1| 20000|
|Manisha| 37|         8| 15000|
|  Chunu|  5|         7| 18000|
+-------+---+----------+------+

In [24]:
#Alternate
df_spark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Akash| 14|         4| 20000|
|  Manoj| 33|         1| 20000|
|Manisha| 37|         8| 15000|
|  Chunu|  5|         7| 18000|
+-------+---+----------+------+

In [22]:
df_spark.filter("Salary<=20000").select(['Name']).show()

+-------+
|   Name|
+-------+
|  Akash|
|  Manoj|
|Manisha|
|  Chunu|
+-------+

In [25]:
#Multiple Conditions

In [29]:
#or
df_spark.filter((df_spark['Salary']<=20000) | (df_spark['Salary']>=30000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Sujeet| 22|         3| 35000|
|  Akash| 14|         4| 20000|
|  Manoj| 33|         1| 20000|
|Manisha| 37|         8| 15000|
|  Chunu|  5|         7| 18000|
+-------+---+----------+------+

In [31]:
#and
df_spark.filter((df_spark['Salary']>=15000) & (df_spark['Salary']<=22000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Akash| 14|         4| 20000|
|  Manoj| 33|         1| 20000|
|Manisha| 37|         8| 15000|
|  Chunu|  5|         7| 18000|
+-------+---+----------+------+

In [33]:
#not
df_spark.filter(~(df_spark['Salary']<=20000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Sujeet| 22|         3| 35000|
| Ajeet| 18|         2| 26000|
+------+---+----------+------+