In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practise40').getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/02/19 16:58:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
data = [(1, 'sujeet', 2000,3000),(2, 'ajeet', 3000,4000)]
schema =['id','name','salary','bonus']

df = spark.createDataFrame(data,schema)
df.show()

+---+------+------+-----+
| id|  name|salary|bonus|
+---+------+------+-----+
|  1|sujeet|  2000| 3000|
|  2| ajeet|  3000| 4000|
+---+------+------+-----+

In [10]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

def total_pay(x,y):
    return x+y

TotalPayment = udf(lambda s,b: total_pay(s,b), IntegerType())
df = df.withColumn('totPay', TotalPayment(df.salary, df.bonus))
df.show()

+---+------+------+-----+------+
| id|  name|salary|bonus|totPay|
+---+------+------+-----+------+
|  1|sujeet|  2000| 3000|  5000|
|  2| ajeet|  3000| 4000|  7000|
+---+------+------+-----+------+

In [12]:
data = [(1, 'sujeet', 2000,3000),(2, 'ajeet', 3000,4000)]
schema =['id','name','salary','bonus']

df = spark.createDataFrame(data,schema)
df.show()

+---+------+------+-----+
| id|  name|salary|bonus|
+---+------+------+-----+
|  1|sujeet|  2000| 3000|
|  2| ajeet|  3000| 4000|
+---+------+------+-----+

In [15]:
@udf(returnType=IntegerType())
def total_pay(x,y):
    return x+y

df.select('*', total_pay(df.salary, df.bonus).alias('totPay')).show()

+---+------+------+-----+------+
| id|  name|salary|bonus|totPay|
+---+------+------+-----+------+
|  1|sujeet|  2000| 3000|  5000|
|  2| ajeet|  3000| 4000|  7000|
+---+------+------+-----+------+

In [17]:
# data = [(1, 'sujeet', 2000,3000),(2, 'ajeet', 3000,4000)]
# schema =['id','name','salary','bonus']

# df = spark.createDataFrame(data,schema)
# df.createGlobalTempView('emps')

In [20]:
# %sql
# SELECT * total_pay(salary, bonus) FROM emps;

SyntaxError: invalid syntax (3594507924.py, line 2)