In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practise53").getOrCreate()

23/02/20 12:59:04 WARN Utils: Your hostname, Sujeets-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.122 instead (on interface en0)
23/02/20 12:59:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/02/20 12:59:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/20 12:59:07 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/20 12:59:07 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/20 12:59:07 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/20 12:59:07 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/02/20 12:59:07 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [13]:
from pyspark.sql.functions import approx_count_distinct, avg, collect_list, collect_set, countDistinct, count

sampleData = [("Sujeet","SDE", 1500), ("Mohanty","title",10324), ("Ajeet", "SDE", 12312)]
schema = ['name', 'role', 'salary']

df = spark.createDataFrame(sampleData, schema)

df.show()
df.select(approx_count_distinct(('role'))).show()
df.select(avg(('salary'))).show()
df.select(collect_list(('role'))).show()
df.select(collect_set(('role'))).show()
df.select(countDistinct(('role'))).show()
df.select(count(('role'))).show()

+-------+-----+------+
|   name| role|salary|
+-------+-----+------+
| Sujeet|  SDE|  1500|
|Mohanty|title| 10324|
|  Ajeet|  SDE| 12312|
+-------+-----+------+

+---------------------------+
|approx_count_distinct(role)|
+---------------------------+
|                          2|
+---------------------------+

+-----------------+
|      avg(salary)|
+-----------------+
|8045.333333333333|
+-----------------+

+------------------+
|collect_list(role)|
+------------------+
| [SDE, title, SDE]|
+------------------+

+-----------------+
|collect_set(role)|
+-----------------+
|     [SDE, title]|
+-----------------+

+--------------------+
|count(DISTINCT role)|
+--------------------+
|                   2|
+--------------------+

+-----------+
|count(role)|
+-----------+
|          3|
+-----------+